<li>
	{{burger_name}}

{{!-- Make note of button class!!! --}}
{{#unless devoured}}
	<button class="change-devoured" data-id="{{id}}" data-devour="{{devoured}}">
		Devour
	</button>
{{/unless}}
    


</li>
